.buttonSort {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2%;
}

.secondaryBtn {
    font-size: 20px;
    padding: 10px;
    margin-top: 25px;
    background-color: #4b5079;
    color: #252634;
    border: none;
    width: 400px;
    cursor: pointer;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-top: 3px solid #fadadd;
    border-right: 3px solid #fadadd;
    border-left: 3px solid #fadadd;
}

.active {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;  
    background-color: #646b9f;
    color: #fad25a;
    border: none;
    width: 400px;
    cursor: pointer;
    border-top: 3px solid #fadadd;
    border-left: 3px solid #fadadd;
    border-right: 3px solid #fadadd;
}

.todoContainer {
    background-color: #646b9f;
    display: flex;
    flex-direction: column;
    border-left:3px solid #fadadd;
    border-right:3px solid #fadadd;
}

.taskContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 100px;
    color: #fadadd;
    border-bottom: 3px solid #fadadd;
}

.taskContainer h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: #fad25a;
    text-decoration: underline;
}

.taskContainer p {
    font-size: 20px;
    margin-top: 8px;
}
.taskContainer button {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border: none;
    background-color: #646b9f;
    color: #fadadd;
}

.task{
    display: flex;
    flex-direction: column;
}

.buttonRack {
    display: flex;
    flex-direction: row;
}

.chkBtn :hover{
    color: #6a9e65;
    transition: .2s;
}

.delBtn :hover{
    color: #d40000;
    transition: .2s;
}